#asm{
	background-color: #00000090;
	color: #ffffff;
	text-shadow: 2px 2px #000000;
	
	font-size: 12px;
	font-family: Times New Roman;
	
	resize: none;
	width: 20%;
	height: 85%;
	float: left;
}
#console {
	background-color: #00000090;
	color: #ffffff;
	text-shadow: 2px 2px #000000;
	
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	
	font-size: 12px;
	font-family: Times New Roman;
	text-align: left;
	overflow-wrap: break-word;
	
	resize: none;
	
	width: 20%;
	height: 85%;
	display: inline-block;
	margin: 0 0.1% 0 0.1%;
}